artifacts
/logs
/wandb
/data/**
!/data/demo_data
!/data/demo_data/README.md
!/data/demo_data/bees.mp4
!/data/demo_data/street.mp4
!/data/demo_data/query_points__bees.txt
!/data/demo_data/query_points__street.txt
/outputs
/output
instant_test_output
inference_test_output
experiments

*.png
*.json
*.diff
*.jpg
!/projects/DensePose/doc/images/*.jpg

# compilation and distribution
__pycache__
_ext
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts
model_ts*.txt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~

# editor settings
.idea
.vscode
_darcs

# project dirs
/detectron2/model_zoo/configs
/datasets/*
!/datasets/*.*
/projects/*/datasets
/models
/snippet
